<div class="mt-12">
  <form method="post" action="">
    <div class="form-group">
      <input
        type="text"
        name="query"
        placeholder="Enter email"
      />

    </div>
    
   
    <button type="submit" class="btn btn-primary">Gui</button>
  </form>
</div>